
<nav class="navbar navbar-expand-lg" role="navigation">

 
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="fas fa-bars"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-link scrollto active">
          <a  class="nav-link" (click)='getcountry("ae")'><span class="flag-icon flag-icon-ae"></span></a>
      </li>

      <li class="nav-link scrollto active">
        <a  class="nav-link" (click)='getcountry("ar")'><span class="flag-icon flag-icon-ar"></span></a>
      </li>

      <li class="nav-link scrollto active">
        <a  class="nav-link" (click)='getcountry("at")'><span class="flag-icon flag-icon-at"></span></a>
      </li>

      <li class="nav-link scrollto active">
        <a  class="nav-link" (click)='getcountry("au")'><span class="flag-icon flag-icon-au"></span></a>
      </li>

      <li class="nav-link scrollto active">
        <a  class="nav-link" (click)='getcountry("be")'><span class="flag-icon flag-icon-be"></span></a>
      </li>

      <li class="nav-link scrollto active">
        <a  class="nav-link" (click)='getcountry("bg")'><span class="flag-icon flag-icon-bg"></span></a>
      </li>

      <li class="nav-link scrollto active">
        <a  class="nav-link" (click)='getcountry("br")'><span class="flag-icon flag-icon-br"></span></a>
      </li>

      <li class="nav-link scrollto active">
        <a  class="nav-link" (click)='getcountry("ca")'><span class="flag-icon flag-icon-ca"></span></a>
      </li>

      <li class="nav-link scrollto active">
        <a  class="nav-link" (click)='getcountry("ch")'><span class="flag-icon flag-icon-ch"></span></a>
      </li>

      <li class="nav-link scrollto active">
        <a  class="nav-link" (click)='getcountry("cn")'><span class="flag-icon flag-icon-cn"></span></a>
      </li>

      <li class="nav-link scrollto active">
        <a  class="nav-link" (click)='getcountry("co")'><span class="flag-icon flag-icon-co"></span></a>
      </li>
     
      <li class="nav-link scrollto active">
        <a  class="nav-link" (click)='getcountry("cu")'><span class="flag-icon flag-icon-cu"></span></a>
    </li>

    <li class="nav-link scrollto active">
      <a  class="nav-link" (click)='getcountry("cz")'><span class="flag-icon flag-icon-cz"></span></a>
    </li>

    <li class="nav-link scrollto active">
      <a  class="nav-link" (click)='getcountry("de")'><span class="flag-icon flag-icon-de"></span></a>
    </li>

    <li class="nav-link scrollto active">
      <a  class="nav-link" (click)='getcountry("eg")'><span class="flag-icon flag-icon-eg"></span></a>
    </li>

    <li class="nav-link scrollto active">
      <a  class="nav-link" (click)='getcountry("fr")'><span class="flag-icon flag-icon-fr"></span></a>
    </li>

    <li class="nav-link scrollto active">
      <a  class="nav-link" (click)='getcountry("gb")'><span class="flag-icon flag-icon-gb"></span></a>
    </li>

    <li class="nav-link scrollto active">
      <a  class="nav-link" (click)='getcountry("gr")'><span class="flag-icon flag-icon-gr"></span></a>
    </li>

    <li class="nav-link scrollto active">
      <a  class="nav-link" (click)='getcountry("hk")'><span class="flag-icon flag-icon-hk"></span></a>
    </li>

    <li class="nav-link scrollto active">
      <a  class="nav-link" (click)='getcountry("hu")'><span class="flag-icon flag-icon-hu"></span></a>
    </li>

    <li class="nav-link scrollto active">
      <a  class="nav-link" (click)='getcountry("id")'><span class="flag-icon flag-icon-id"></span></a>
    </li>

    <li class="nav-link scrollto active">
      <a  class="nav-link" (click)='getcountry("ie")'><span class="flag-icon flag-icon-ie"></span></a>
    </li>

    <li class="nav-link scrollto active">
      <a  class="nav-link" (click)='getcountry("il")'><span class="flag-icon flag-icon-il"></span></a>
  </li>

  <li class="nav-link scrollto active">
    <a  class="nav-link" (click)='getcountry("in")'><span class="flag-icon flag-icon-in"></span></a>
  </li>

  <li class="nav-link scrollto active">
    <a  class="nav-link" (click)='getcountry("it")'><span class="flag-icon flag-icon-it"></span></a>
  </li>

  <li class="nav-link scrollto active">
    <a  class="nav-link" (click)='getcountry("jp")'><span class="flag-icon flag-icon-jp"></span></a>
  </li>

  <li class="nav-link scrollto active">
    <a  class="nav-link" (click)='getcountry("kr")'><span class="flag-icon flag-icon-kr"></span></a>
  </li>

  <li class="nav-link scrollto active">
    <a  class="nav-link" (click)='getcountry("lt")'><span class="flag-icon flag-icon-lt"></span></a>
  </li>

  <li class="nav-link scrollto active">
    <a  class="nav-link" (click)='getcountry("lv")'><span class="flag-icon flag-icon-lv"></span></a>
  </li>

  <li class="nav-link scrollto active">
    <a  class="nav-link" (click)='getcountry("ma")'><span class="flag-icon flag-icon-ma"></span></a>
  </li>

  <li class="nav-link scrollto active">
    <a  class="nav-link" (click)='getcountry("mx")'><span class="flag-icon flag-icon-mx"></span></a>
  </li>

  <li class="nav-link scrollto active">
    <a  class="nav-link" (click)='getcountry("my")'><span class="flag-icon flag-icon-my"></span></a>
  </li>

  <li class="nav-link scrollto active">
    <a  class="nav-link" (click)='getcountry("ng")'><span class="flag-icon flag-icon-ng"></span></a>
  </li>

  <li class="nav-link scrollto active">
    <a  class="nav-link" (click)='getcountry("nl")'><span class="flag-icon flag-icon-nl"></span></a>
</li>

<li class="nav-link scrollto active">
  <a  class="nav-link" (click)='getcountry("no")'><span class="flag-icon flag-icon-no"></span></a>
</li>

<li class="nav-link scrollto">
  <a  class="nav-link" (click)='getcountry("nz")'><span class="flag-icon flag-icon-nz"></span></a>
</li>

<li class="nav-link scrollto">
  <a  class="nav-link" (click)='getcountry("ph")'><span class="flag-icon flag-icon-ph"></span></a>
</li>


<li class="dropdown">
  <a class="dropbtn"><span class="fas fa-chevron-down"></span></a>
  <div class="dropdown-content">
    <a  class="nav-link" (click)='getcountry("pl")'><span class="flag-icon flag-icon-pl"></span></a>
    <a  class="nav-link" (click)='getcountry("pt")'><span class="flag-icon flag-icon-pt"></span></a>
    <a  class="nav-link" (click)='getcountry("ro")'><span class="flag-icon flag-icon-ro"></span></a>
    <a  class="nav-link" (click)='getcountry("rs")'><span class="flag-icon flag-icon-rs"></span></a>
    <a  class="nav-link" (click)='getcountry("ru")'><span class="flag-icon flag-icon-ru"></span></a>
    <a  class="nav-link" (click)='getcountry("sa")'><span class="flag-icon flag-icon-sa"></span></a>
    <a  class="nav-link" (click)='getcountry("se")'><span class="flag-icon flag-icon-se"></span></a>
    <a  class="nav-link" (click)='getcountry("sg")'><span class="flag-icon flag-icon-sg"></span></a>
    <a  class="nav-link" (click)='getcountry("si")'><span class="flag-icon flag-icon-si"></span></a>
    <a  class="nav-link" (click)='getcountry("sk")'><span class="flag-icon flag-icon-sk"></span></a>
    <a  class="nav-link" (click)='getcountry("th")'><span class="flag-icon flag-icon-th"></span></a>
    <a  class="nav-link" (click)='getcountry("tr")'><span class="flag-icon flag-icon-tr"></span></a>
    <a  class="nav-link" (click)='getcountry("tw")'><span class="flag-icon flag-icon-tw"></span></a>
    <a  class="nav-link" (click)='getcountry("ua")'><span class="flag-icon flag-icon-ua"></span></a>
    <a  class="nav-link" (click)='getcountry("us")'><span class="flag-icon flag-icon-us"></span></a>
    <a  class="nav-link" (click)='getcountry("ve")'><span class="flag-icon flag-icon-ve"></span></a>
    <a  class="nav-link" (click)='getcountry("za")'><span class="flag-icon flag-icon-za"></span></a>
  </div>
</li>

    </ul>
  
  </div>
</nav>
<div class="d-flex justify-content-center p-2 m-2"><h1>TopNews</h1></div>
<div class="container w-100">

  <nav class="navbar navbar-expand-lg " role="navigation">
   
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="fas fa-bars"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
  
        <li class="nav-link scrollto active">
            <a  class="nav-link" routerLink="home">Home</a>
        </li>

        <li class="nav-link scrollto">
          <a  class="nav-link" routerLink="general">General</a>
        </li>
  
        <li class="nav-link scrollto">
          <a class="nav-link" routerLink="business">Business</a>
        </li>
  
        <li class="nav-link scrollto">
            <a class="nav-link" routerLink="entertainment">Entertainment</a>
        </li>
  
        <li class="nav-link scrollto">
            <a  class="nav-link" routerLink="health">Health</a>
        </li>
  
        <li class="nav-link scrollto">
            <a  class="nav-link" routerLink="science">Science</a>
        </li> 
  
        <li class="nav-link scrollto">
            <a  class="nav-link" routerLink="sports">Sports</a>
        </li>  
        
        <li class="nav-link scrollto">
          <a  class="nav-link" routerLink="technology">Technology</a>
        </li>
  
      </ul>
    
    </div>
  </nav>
</div>